main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}