.errorWindow {
  width: 100%;
  text-align: center;
  background-color: #ffcccc;
  padding: 20px;
  border: 1px solid #ff9999;
  border-radius: 5px;
  margin: 20px 0;

  h2 {
    color: #cc0000;
  }

  p {
    color: #660000;
  }
}
.loadingWindow {
  width: 100%;
  text-align: center;
  background-color: lightgreen;
  padding: 20px;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  margin: 20px 0;

  h2 {
    color: green;
  }

  p {
    color: darkgreen;
  }
}
